html {
  background-color: rgb(240, 240, 240);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

#myName {
  color: black;
  font-weight: bold;
  float: left;
}

#myImg {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  background: white;
  height: 5%;
  padding-left: 0;
  margin: 0;
  border-bottom: solid rgb(200, 200, 200) 1px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  display: block;
  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: solid grey 0.5px;
}

.aboutMe {
  border: solid rgb(227, 227, 227) 1px;
  background-color: white;
  padding: 10px;
  width: 960px;
}

.contact {
  color: rgb(73, 170, 165);
}

form {
  width: 960px;
}

input {
  width: 960px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  border: solid rgb(227, 227, 227) 1px;
  width: 960px;
}

button {
  background-color: rgb(73, 170, 165);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: solid rgb(73, 170, 165) 15px;
}
