html {
  background-color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  color: #b1b0b0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

#myName {
  color: black;
  font-weight: bold;
  float: left;
}

#myImg {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  color: rgb(100, 100, 100);
}

#wrapper {
  /* background-color: white; */
  background-color: rgba(102, 102, 102, 0.2);
  border-bottom: solid grey 1px;
  max-width: 100%;
  margin-bottom: 40px;
}

header {
  max-width: 960px;
  margin: 0 auto;
  height: 7%;
  padding: 0;
  font-family: "Georgia", Times, Times New Roman, serif;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
}

nav li {
  color: gray;
  display: inline;
  padding: 14px 10px;
  text-decoration: none;
}

header h1 {
  color: rgb(73, 170, 165);
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(255, 192, 203, 0.5);
  margin: 0 0 0;
  float: left;
  font-weight: normal;
}

nav a {
  color: #666666;
  text-decoration: none;
}

nav a:hover {
  color: pink;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.aboutMe {
  border: solid rgb(197, 196, 196) 1px;
  background-color: rgb(245, 243, 243);
  padding: 10px;
  width: 960px;
}

form {
  width: 960px;
}

input {
  width: 960px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  border: solid rgb(227, 227, 227) 1px;
  width: 960px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::placeholder {
  color: rgb(184, 181, 181);
}

button {
  background-color: rgb(73, 170, 165);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

.category {
  position: relative;
}
.category > img {
  display: block;
}
.category-header {
  background-color: rgba(73, 170, 165, 0.5);
  display: block;
  color: #fff;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.category-header h4 {
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: stretch;
  justify-items: center;
  position: relative;
  text-align: center;
  color: white;
}

.grid img {
  max-width: 100%;
  padding: 1px;
  height: 200px;
  width: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: solid rgb(73, 170, 165) 15px;
}

#copyRight {
  margin-top: 20px;
}
